* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: grid;
	place-items: center;
  min-height: 100vh;
	background: #FFEFCA;
	margin: 0 auto;
}

.search-box{
  background: #C0A975;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
  /* border-radius: .2rem; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
